AromaCafeCliente/Connected Services/AromaCafeService/ServiceImplementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEmployeeManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ILogInManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IProductManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AromaCafeService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeManager_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManager_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManager_RegisterEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManager_RegisterEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManager_DisableEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DisableEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManager_DisableEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisableEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManager_GetAllEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManager_GetAllEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManager_GetEmployeeInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeInformation" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManager_GetEmployeeInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ILogInManager_ValidateCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCredentials" />
  </wsdl:message>
  <wsdl:message name="ILogInManager_ValidateCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="ILogInManager_OpenTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenTurn" />
  </wsdl:message>
  <wsdl:message name="ILogInManager_OpenTurn_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenTurnResponse" />
  </wsdl:message>
  <wsdl:message name="ILogInManager_CloseTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseTurn" />
  </wsdl:message>
  <wsdl:message name="ILogInManager_CloseTurn_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseTurnResponse" />
  </wsdl:message>
  <wsdl:message name="ILogInManager_CheckTurnOpened_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTurnOpened" />
  </wsdl:message>
  <wsdl:message name="ILogInManager_CheckTurnOpened_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTurnOpenedResponse" />
  </wsdl:message>
  <wsdl:message name="IProductManager_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IProductManager_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductManager_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IProductManager_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductManager_IncreaseStock_InputMessage">
    <wsdl:part name="parameters" element="tns:IncreaseStock" />
  </wsdl:message>
  <wsdl:message name="IProductManager_IncreaseStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncreaseStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeManager">
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeManager/UpdateProfile" message="tns:IEmployeeManager_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeManager/UpdateProfileResponse" message="tns:IEmployeeManager_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeManager/RegisterEmployee" message="tns:IEmployeeManager_RegisterEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeManager/RegisterEmployeeResponse" message="tns:IEmployeeManager_RegisterEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisableEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeManager/DisableEmployee" message="tns:IEmployeeManager_DisableEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeManager/DisableEmployeeResponse" message="tns:IEmployeeManager_DisableEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeManager/GetAllEmployee" message="tns:IEmployeeManager_GetAllEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeManager/GetAllEmployeeResponse" message="tns:IEmployeeManager_GetAllEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeManager/GetEmployeeInformation" message="tns:IEmployeeManager_GetEmployeeInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeManager/GetEmployeeInformationResponse" message="tns:IEmployeeManager_GetEmployeeInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ILogInManager">
    <wsdl:operation name="ValidateCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogInManager/ValidateCredentials" message="tns:ILogInManager_ValidateCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogInManager/ValidateCredentialsResponse" message="tns:ILogInManager_ValidateCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenTurn">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogInManager/OpenTurn" message="tns:ILogInManager_OpenTurn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogInManager/OpenTurnResponse" message="tns:ILogInManager_OpenTurn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseTurn">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogInManager/CloseTurn" message="tns:ILogInManager_CloseTurn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogInManager/CloseTurnResponse" message="tns:ILogInManager_CloseTurn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTurnOpened">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogInManager/CheckTurnOpened" message="tns:ILogInManager_CheckTurnOpened_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogInManager/CheckTurnOpenedResponse" message="tns:ILogInManager_CheckTurnOpened_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IProductManager">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductManager/GetAllProducts" message="tns:IProductManager_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductManager/GetAllProductsResponse" message="tns:IProductManager_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductManager/AddProduct" message="tns:IProductManager_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductManager/AddProductResponse" message="tns:IProductManager_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncreaseStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductManager/IncreaseStock" message="tns:IProductManager_IncreaseStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductManager/IncreaseStockResponse" message="tns:IProductManager_IncreaseStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEmployeeManager" type="tns:IEmployeeManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IEmployeeManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UpdateProfile">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeManager/UpdateProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterEmployee">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeManager/RegisterEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableEmployee">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeManager/DisableEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeManager/GetAllEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeInformation">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeManager/GetEmployeeInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ILogInManager" type="tns:ILogInManager">
    <wsp:PolicyReference URI="#NetTcpBinding_ILogInManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ValidateCredentials">
      <soap12:operation soapAction="http://tempuri.org/ILogInManager/ValidateCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenTurn">
      <soap12:operation soapAction="http://tempuri.org/ILogInManager/OpenTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseTurn">
      <soap12:operation soapAction="http://tempuri.org/ILogInManager/CloseTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTurnOpened">
      <soap12:operation soapAction="http://tempuri.org/ILogInManager/CheckTurnOpened" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IProductManager" type="tns:IProductManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IProductManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllProducts">
      <soap12:operation soapAction="http://tempuri.org/IProductManager/GetAllProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap12:operation soapAction="http://tempuri.org/IProductManager/AddProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseStock">
      <soap12:operation soapAction="http://tempuri.org/IProductManager/IncreaseStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IEmployeeManager" type="tns:IEmployeeManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IEmployeeManager/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeManager/RegisterEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeManager/DisableEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeManager/GetAllEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeInformation">
      <soap:operation soapAction="http://tempuri.org/IEmployeeManager/GetEmployeeInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceImplementation">
    <wsdl:port name="NetTcpBinding_IEmployeeManager" binding="tns:NetTcpBinding_IEmployeeManager">
      <soap12:address location="net.tcp://localhost:8081/EmployeeManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/EmployeeManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ZAIDPC\zaido</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ILogInManager" binding="tns:NetTcpBinding_ILogInManager">
      <soap12:address location="net.tcp://localhost:8081/LogInManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/LogInManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ZAIDPC\zaido</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IProductManager" binding="tns:NetTcpBinding_IProductManager">
      <soap12:address location="net.tcp://localhost:8081/ProductManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/ProductManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ZAIDPC\zaido</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IEmployeeManager" binding="tns:BasicHttpBinding_IEmployeeManager">
      <soap:address location="http://localhost:8082/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>